# Eat Safe, Love

## Notebook Set Up

In [1]:
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo = MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db = mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments = db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20
query ={"scores.Hygiene":20}

In [7]:
# Use count_documents to display the number of documents in the result
count_documents = establishments.count_documents(query)
count_documents

41

In [8]:
# Display the first document in the results using pprint
first_doc =establishments.find_one(query)
pprint(first_doc)

{'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'ChangesByServerID': 0,
 'Distance': 4613.888288172291,
 'FHRSID': 110681,
 'LocalAuthorityBusinessID': '4029',
 'LocalAuthorityCode': '102',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'NewRatingPending': False,
 'Phone': '',
 'PostCode': 'BN21 1BU',
 'RatingDate': '2021-09-23T00:00:00',
 'RatingKey': 'fhrs_0_en-gb',
 'RatingValue': 0,
 'RightToReply': '',
 'SchemeType': 'FHRS',
 '_id': ObjectId('65fd0ea87fecd2db6d4c63a4'),
 'geocode': {'latitude': '50.769705', 'longitude': '0.27694'},
 'latitude': None,
 'links': [{'href': 'https://api.ratings.food.gov.uk/establishments/110681',
            'rel': 'self'}],
 'longitude': None,
 'meta': {'dataSource': None,
          'extractDate': '0001-01-01T00:00:00',
          'itemCount': 0,
          'pageNumber': 0,
          'pageSize': 0,
          'returncode': None,
          'totalCount': 0,
          'totalPages': 0},
 'scores': {'ConfidenceInManagement': 20, 'Hygiene': 20, 'Structural': 20}}

In [9]:
# Convert the result to a Pandas DataFrame
results=establishments.find(query)
documents = list(results)
#convert to dataframe
df =pd.DataFrame(documents)
df.head(1)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,longitude,latitude
0,65fd0ea87fecd2db6d4c63a4,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.27694', 'latitude': '50.769705'}",,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None

In [10]:

# Display the number of rows in the DataFrame
num_rows = len(df)
num_rows

41

In [11]:

# Display the first 10 rows of the DataFrame
df.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,longitude,latitude
0,65fd0ea87fecd2db6d4c63a4,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.27694', 'latitude': '50.769705'}",,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
1,65fd0ea87fecd2db6d4c671c,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': '1.278721', 'latitude': '51.8575...",,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
2,65fd0ea87fecd2db6d4c6a24,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '1.15927', 'latitude': '51.789429'}",,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
3,65fd0ea87fecd2db6d4c6c13,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': '0.10202', 'latitude': '50.770885'}",,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
4,65fd0ea87fecd2db6d4c6c20,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': '0.101446', 'latitude': '50.7707...",,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
5,65fd0ea87fecd2db6d4c75c1,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.736349', 'latitude': '51.5414...",,4625.565258,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
6,65fd0ea87fecd2db6d4c77f2,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.7121671', 'latitude': '51.535...",,4626.200132,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
7,65fd0ea87fecd2db6d4c8d0e,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': '0.602364', 'latitude': '51.5915...",,4632.276890,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
8,65fd0ea87fecd2db6d4c9154,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...",FHRS,"{'longitude': '0.146449998021126', 'latitude':...",,4633.934041,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
9,65fd0ea87fecd2db6d4c9961,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.462307', 'latitude': '51.57005'}",,4636.552523,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [13]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.

query ={"LocalAuthorityName":"London","RatingValue":{"$gte":4}}

In [20]:

# Use count_documents to display the number of documents in the result
count = establishments.count_documents(query)
count

41

In [33]:

# Display the first document in the results using pprint
first_doc =establishments.find_one(query)
first_doc

{'_id': ObjectId('65fd0ea87fecd2db6d4c63a4'),
 'FHRSID': 110681,
 'ChangesByServerID': 0,
 'LocalAuthorityBusinessID': '4029',
 'BusinessName': 'The Chase Rest Home',
 'BusinessType': 'Caring Premises',
 'BusinessTypeID': 5,
 'AddressLine1': '5-6 Southfields Road',
 'AddressLine2': 'Eastbourne',
 'AddressLine3': 'East Sussex',
 'AddressLine4': '',
 'PostCode': 'BN21 1BU',
 'Phone': '',
 'RatingValue': 0,
 'RatingKey': 'fhrs_0_en-gb',
 'RatingDate': '2021-09-23T00:00:00',
 'LocalAuthorityCode': '102',
 'LocalAuthorityName': 'Eastbourne',
 'LocalAuthorityWebSite': 'http://www.eastbourne.gov.uk/foodratings',
 'LocalAuthorityEmailAddress': 'Customerfirst@eastbourne.gov.uk',
 'scores': {'Hygiene': 20, 'Structural': 20, 'ConfidenceInManagement': 20},
 'SchemeType': 'FHRS',
 'geocode': {'longitude': '0.27694', 'latitude': '50.769705'},
 'RightToReply': '',
 'Distance': 4613.888288172291,
 'NewRatingPending': False,
 'meta': {'dataSource': None,
  'extractDate': '0001-01-01T00:00:00',
  'itemCount': 0,
  'returncode': None,
  'totalCount': 0,
  'totalPages': 0,
  'pageSize': 0,
  'pageNumber': 0},
 'links': [{'rel': 'self',
   'href': 'https://api.ratings.food.gov.uk/establishments/110681'}],
 'longitude': None,
 'latitude': None}

In [34]:
# Convert the result to a Pandas DataFrame
results =establishments.find(query)
documents = list(results)
df =pd.DataFrame(documents)
# Display the number of rows in the DataFrame
rows =len(df)
# Display the first 10 rows of the DataFrame
df.head(10)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,longitude,latitude
0,65fd0ea87fecd2db6d4c63a4,110681,0,4029,The Chase Rest Home,Caring Premises,5,5-6 Southfields Road,Eastbourne,East Sussex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.27694', 'latitude': '50.769705'}",,4613.888288,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
1,65fd0ea87fecd2db6d4c671c,612039,0,1970/FOOD,Brenalwood,Caring Premises,5,Hall Lane,Walton-on-the-Naze,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': '1.278721', 'latitude': '51.8575...",,4617.965824,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
2,65fd0ea87fecd2db6d4c6a24,730933,0,1698/FOOD,Melrose Hotel,Hotel/bed & breakfast/guest house,7842,53 Marine Parade East,Clacton On Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '1.15927', 'latitude': '51.789429'}",,4619.656144,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
3,65fd0ea87fecd2db6d4c6c13,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': '0.10202', 'latitude': '50.770885'}",,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
4,65fd0ea87fecd2db6d4c6c20,172953,0,PI/000024532,Golden Palace,Restaurant/Cafe/Canteen,1,5 South Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': '0.101446', 'latitude': '50.7707...",,4620.437179,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
5,65fd0ea87fecd2db6d4c75c1,512854,0,12/00816/BUTH,Ashby's Butchers,Retailers - other,4613,777 Southchurch Road,Southend-On-Sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.736349', 'latitude': '51.5414...",,4625.565258,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
6,65fd0ea87fecd2db6d4c77f2,1537089,0,22/00224/RESTUN,South Sea Express Cuisine,Restaurant/Cafe/Canteen,1,33 Alexandra Street,Southend-on-sea,Essex,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.7121671', 'latitude': '51.535...",,4626.200132,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None
7,65fd0ea87fecd2db6d4c8d0e,155648,0,EH/00006058,Golden Palace,Takeaway/sandwich shop,7844,7 London Road,Rayleigh,Essex,...,"{'Hygiene': 20, 'Structural': 15, 'ConfidenceI...",FHRS,"{'longitude': '0.602364', 'latitude': '51.5915...",,4632.276890,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
8,65fd0ea87fecd2db6d4c9154,1012883,0,17/00110/MIXED/S,The Tulip Tree,Restaurant/Cafe/Canteen,1,3 The Village,Chiddingstone,KENT,...,"{'Hygiene': 20, 'Structural': 5, 'ConfidenceIn...",FHRS,"{'longitude': '0.146449998021126', 'latitude':...",,4633.934041,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None
9,65fd0ea87fecd2db6d4c9961,644109,0,41811,F & S,Retailers - other,4613,,81 Southernhay,Basildon,...,"{'Hygiene': 20, 'Structural': 20, 'ConfidenceI...",FHRS,"{'longitude': '0.462307', 'latitude': '51.57005'}",,4636.552523,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'http://api.ratings.f...",None,None

### 3. What are the top 5 establishments with a `RatingValue` rating value of 5, sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [35]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score


penang_flavours = establishments.find_one({"BusinessName": "Penang Flavours"})

degree_search = 0.01
latitude = penang_flavours["geocode"]["latitude"] if penang_flavours else None
longitude = penang_flavours["geocode"]["longitude"] if penang_flavours else None

if latitude is not None and longitude is not None:
    query = {
        "RatingValue": 5,
        "geocode.latitude": {"$gte": latitude - degree_search, "$lte": latitude + degree_search},
        "geocode.longitude": {"$gte": longitude - degree_search, "$lte": longitude + degree_search}
    }

sort = [("scores.Hygiene", 1)]
limit = 5
results = establishments.find(query).sort(sort).limit(limit)

In [36]:
# Convert result to Pandas DataFrame
results = establishments.find(query).sort(sort).limit(limit)
df=pd.DataFrame(list(results))
df.head(1)

,_id,FHRSID,ChangesByServerID,LocalAuthorityBusinessID,BusinessName,BusinessType,BusinessTypeID,AddressLine1,AddressLine2,AddressLine3,...,scores,SchemeType,geocode,RightToReply,Distance,NewRatingPending,meta,links,longitude,latitude
0,65fd0ea87fecd2db6d4c6c13,172735,0,PI/000023858,Seaford Pizza,Takeaway/sandwich shop,7844,4 High Street,Seaford,East Sussex,...,"{'Hygiene': 20, 'Structural': 10, 'ConfidenceI...",FHRS,"{'longitude': '0.10202', 'latitude': '50.770885'}",,4620.421725,False,"{'dataSource': None, 'extractDate': '0001-01-0...","[{'rel': 'self', 'href': 'https://api.ratings....",None,None

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [37]:
# Create 

# Aggregation pipeline to count establishments with a hygiene score of 0 in each local authority
pipeline = [
    {
        '$match': {
            'scores.Hygiene': 0  # Match establishments with a hygiene score of 0
        }
    },
    {
        '$group': {
            '_id': '$LocalAuthorityName',  # Group by local authority name
            'count': {'$sum': 1}  # Count the number of establishments in each group
        }
    },
    {
        '$sort': {'count': -1}   Sort the results by count in descending order
    }
]

# Execute the aggregation pipeline
results = list(establishments.aggregate(pipeline))

# Print the results
for result in results:
    print(f"Local Authority: {result['_id']}, Establishments with Hygiene Score of 0: {result['count']}")

Local Authority: Thanet, Establishments with Hygiene Score of 0: 1130
Local Authority: Greenwich, Establishments with Hygiene Score of 0: 882
Local Authority: Maidstone, Establishments with Hygiene Score of 0: 713
Local Authority: Newham, Establishments with Hygiene Score of 0: 711
Local Authority: Swale, Establishments with Hygiene Score of 0: 686
Local Authority: Chelmsford, Establishments with Hygiene Score of 0: 680
Local Authority: Medway, Establishments with Hygiene Score of 0: 672
Local Authority: Bexley, Establishments with Hygiene Score of 0: 607
Local Authority: Southend-On-Sea, Establishments with Hygiene Score of 0: 586
Local Authority: Tendring, Establishments with Hygiene Score of 0: 542
Local Authority: Colchester, Establishments with Hygiene Score of 0: 498
Local Authority: Tunbridge Wells, Establishments with Hygiene Score of 0: 491
Local Authority: Folkestone and Hythe, Establishments with Hygiene Score of 0: 480
Local Authority: Eastbourne, Establishments with Hygiene Score of 0: 478
Local Authority: Hastings, Establishments with Hygiene Score of 0: 464
Local Authority: Bromley, Establishments with Hygiene Score of 0: 460
Local Authority: Ashford, Establishments with Hygiene Score of 0: 427
Local Authority: Havering, Establishments with Hygiene Score of 0: 397
Local Authority: Dartford, Establishments with Hygiene Score of 0: 383
Local Authority: Braintree, Establishments with Hygiene Score of 0: 382
Local Authority: Basildon, Establishments with Hygiene Score of 0: 362
Local Authority: Gravesham, Establishments with Hygiene Score of 0: 339
Local Authority: Tonbridge and Malling, Establishments with Hygiene Score of 0: 325
Local Authority: Thurrock, Establishments with Hygiene Score of 0: 313
Local Authority: Barking and Dagenham, Establishments with Hygiene Score of 0: 301
Local Authority: Canterbury City, Establishments with Hygiene Score of 0: 298
Local Authority: Brentwood, Establishments with Hygiene Score of 0: 285
Local Authority: Castle Point, Establishments with Hygiene Score of 0: 281
Local Authority: Harlow, Establishments with Hygiene Score of 0: 274
Local Authority: Uttlesford, Establishments with Hygiene Score of 0: 251
Local Authority: Lewes, Establishments with Hygiene Score of 0: 250
Local Authority: Sevenoaks, Establishments with Hygiene Score of 0: 223
Local Authority: Maldon, Establishments with Hygiene Score of 0: 197
Local Authority: East Hertfordshire, Establishments with Hygiene Score of 0: 189
Local Authority: Rochford, Establishments with Hygiene Score of 0: 187
Local Authority: Redbridge, Establishments with Hygiene Score of 0: 182
Local Authority: Epping Forest, Establishments with Hygiene Score of 0: 180
Local Authority: East Suffolk, Establishments with Hygiene Score of 0: 159
Local Authority: Waltham Forest, Establishments with Hygiene Score of 0: 110
Local Authority: Babergh, Establishments with Hygiene Score of 0: 97
Local Authority: Wealden, Establishments with Hygiene Score of 0: 93
Local Authority: Rother, Establishments with Hygiene Score of 0: 80
Local Authority: Lewisham, Establishments with Hygiene Score of 0: 65
Local Authority: Tandridge, Establishments with Hygiene Score of 0: 42
Local Authority: City of London Corporation, Establishments with Hygiene Score of 0: 28
Local Authority: Ipswich, Establishments with Hygiene Score of 0: 21
Local Authority: Tower Hamlets, Establishments with Hygiene Score of 0: 9
Local Authority: North Hertfordshire, Establishments with Hygiene Score of 0: 6
Local Authority: Mid Sussex, Establishments with Hygiene Score of 0: 5
Local Authority: Sunderland, Establishments with Hygiene Score of 0: 1
Local Authority: Reading, Establishments with Hygiene Score of 0: 1
Local Authority: Broxbourne, Establishments with Hygiene Score of 0: 1
Local Authority: Kensington and Chelsea, Establishments with Hygiene Score of 0: 1
Local Authority: Dorset, Establishments with Hygiene Score of 0: 1
Local Authority: North Norfolk, Establishments with Hygiene Score of 0: 1

In [45]:
# Convert the result to a Pandas DataFrame

results = list(establishments.aggregate(pipeline))
df = pd.DataFrame(results)

# Rename columns for clarity
df.rename(columns={'_id': 'LocalAuthorityName', 'count': 'NumberOfEstablishments'}, inplace=True)

#Number of row
num =len(df)
num

# Display the DataFrame
df.head(10)

  LocalAuthorityName  NumberOfEstablishments
0             Thanet                    1130
1          Greenwich                     882
2          Maidstone                     713
3             Newham                     711
4              Swale                     686
5         Chelmsford                     680
6             Medway                     672
7             Bexley                     607
8    Southend-On-Sea                     586
9           Tendring                     542